<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
</head>
<body>

  <div id="gradient"></div>
  <form class="searchbox" action="league#new" method="get">
   <label for=":q"> <input id="q" placeholder="Search a Summoner..." name="q" type="text">
  </form>

  <div class="crowgang">
    <img src="http://localhost:3000/assets/crow.jpg" class="img-circle" alt="crow" width="254" height="236"><br />
    <section id="cg"> CrowGang has <%= @gang.wins %> ranked wins! <br />
      CrowGang has <%= @gang.losses %> ranked losses!
    </div>

  <div class="scotty">
    <img src="http://localhost:3000/assets/ramsey.jpg" class="img-circle" alt="24" width="254" height="236"><br />
    <section id="cg"> ScottyStarburst has <%= @scotty.wins %> ranked wins! <br />
      ScottyStarburst has <%= @scotty.losses %> ranked losses!
  </div>
</body>
</html>
