<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
</head>
<body>

  <%= form_tag("/league#new", method: "get") do %>
    <%= label_tag(:q, "Search for:") %>
    <%= text_field_tag(:q) %>
    <%= submit_tag("Search") %>
  <% end %>

 <!-- <div id="gradient"></div>
 <form class="searchbox" action="league#index" method="post">
  <input type="search" placeholder="Search Summoner" />
  <button type="submit" value="search">&nbsp;</button>
 </form> -->

 
 <div class="searched_summoner">
     <img src="http://localhost:3000/assets/summoner.jpeg" class="img-circle" alt="crow" width="254" height="236"><br />
   <section id="ss"> <%= @summon.summoner_name %> has <%= @summon.wins %> ranked wins! <br />
     <%= @summon.summoner_name %> has <%= @summon.losses %> ranked losses!
  </div>

  <div class="crowgang">
    <img src="http://localhost:3000/assets/crow.jpg" class="img-circle" alt="crow" width="254" height="236"><br />
    <section id="cg"> CrowGang has <%= @gang.wins %> ranked wins! <br />
      CrowGang has <%= @gang.losses %> ranked losses!
    </div>

  <div class="twenty">
    <img src="http://localhost:3000/assets/24.png" class="img-circle" alt="24" width="254" height="236"><br />
    <section id="seven"> TEAM24SEVEN has <%= @seven.wins %> ranked wins! <br />
      TEAM24SEVEN has <%= @seven.losses %> ranked losses!
  </div>
</body>
</html>



<!-- 81323101 - kai
106 - volibear
85098161 - me -->
