<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
  <meta charset="UTF-8">
  <%= csrf_meta_tags %>
</head>
<body>

  <form class="searchbox" action="league#new" method="get">
   <label for=":q"> <input id="q" placeholder="Search a Summoner..." name="q" type="text">
  </form>

 <% if @summon.searched_name_call == nil %>
  <div class="username">
    <img src="http://localhost:3000/assets/defeat.jpeg" class="img-circle" width="200" height="180"><br />
    <section id="cg"> <%= @summon.summoner_name %> does not exist! <br/>
    </div>

  <% elsif @summon.wins == nil  %>
  <div class="no_games_searched_summoner">
    <img src="http://localhost:3000/assets/summoner.jpeg" class="img-circle" width="254" height="236"><br />
    <section id="cg"> <%= @summon.summoner_name %> has yet to <br/> play a ranked game!
    </div>

  <% else %>
 <div class="searched_summoner">
      <img src="http://localhost:3000/assets/summoner.jpeg" class="img-circle" width="254" height="236"><br />
    <section id="cg"> <%= @summon.summoner_name %> has <%= @summon.wins %> ranked wins! <br />
      <%= @summon.summoner_name %> has <%= @summon.losses %> ranked losses!
   </div>
   <% end %>

  <div class="crowgang">
    <img src="http://localhost:3000/assets/crow.jpg" class="img-circle" width="254" height="236"><br />
    <section id="cg"> CrowGang has <%= @gang.wins %> ranked wins! <br />
      CrowGang has <%= @gang.losses %> ranked losses!
    </div>

  <div class="scotty">
    <img src="http://localhost:3000/assets/ramsey.jpg" class="img-circle" width="254" height="236"><br />
    <section id="cg"> ScottyStarburst has <%= @scotty.wins %> ranked wins! <br />
      ScottyStarburst has <%= @scotty.losses %> ranked losses!
  </div>
</body>
</html>
